/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* index.html styles */
.app-container {
  background-image: url(../src/assets/paper.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
